body {
  font-family: 'Arvo', serif;
  color: #5FB404;
  background-color: #D8D8D8;
}
.wrapper {
  margin: 100px auto 0 100px;
  padding: 0;
}

#fruit {
  float: left;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  width: 350px;
}
#adventure {
  float: right;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  width: 350px;
}

h1 {
  width: 2400px;
  color: #999;
  margin-bottom: -5px;
}
